.h1-webs {
  font-size: 4rem;
  line-height: 4.400000095367432rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h2-webs {
  font-size: 3.5rem;
  line-height: 3.8500001430511475rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h3-webs {
  font-size: 2.5rem;
  line-height: 2.75rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-xlarge-plus {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-xsmall {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-xsmall-plus {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-xlarge {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-small-plus {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-medium {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-large-plus {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-medium {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-large {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-medium-plus {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-xlarge {
  font-size: 1.125rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-compact-small {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-xsmall-plus {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-small {
  font-size: 0.8125rem;
  line-height: 1.21875rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-small-plus {
  font-size: 0.8125rem;
  line-height: 1.21875rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-large {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-medium-plus {
  font-size: 0.875rem;
  line-height: 1.3125rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-xsmall {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-xlarge-plus {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.txt-large-plus {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.code-label {
  font-size: 0.75rem;
  line-height: 1.25rem;
  font-weight: 400;
  font-family: Roboto Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
}
.h4-webs {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.code-body {
  font-size: 0.75rem;
  line-height: 1.125rem;
  font-weight: 400;
  font-family: Roboto Mono, ui-monospace, SFMono-Regular, Menlo, Monaco,
    Consolas, Liberation Mono, Courier New, monospace;
}
.h2-core {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h3-core {
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h1-core {
  font-size: 1.125rem;
  line-height: 1.75rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h1-docs {
  font-size: 1.5rem;
  line-height: 1.875rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h2-docs {
  font-size: 1.125rem;
  line-height: 1.6875rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.h3-docs {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 500;
  font-family:
    var(--font-sans), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji, "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
