@theme {
  --color-tutorial-green: #24a866;
  --color-enterprise-purple: #4d0099;
  --color-enterprise-purple-2: #8000ff;
  --color-enterprise-purple-3: #e6ccff;
  --color-enterprise-purple-4: #3c216a;
  --color-enterprise-purple-5: #bf80ff;
  --color-react-dark-link: #149eca;
  --color-react-light-link: #087ea4;
  --color-react-dark-code: #16181d;
  --color-react-light-code: #ffffff;
  --color-react-dark-orange: #db7d27;
  --color-react-dark-purple: #8891ec;
  --color-react-dark-green: #44ac99;
  --color-react-dark-green-alt: #26d97f;
  --color-react-light-orange: #c76a15;
  --color-react-light-purple: #575fb7;
  --color-react-light-green: #2b6e62;
  --color-react-light-green-alt: #24a866;
  --color-react-light-orange-bg: #fef5e7;
  --color-react-light-purple-bg: #f3f4fd;
  --color-react-light-green-bg: #f4fbf9;
  --color-tutorial-dark-bg: #1d2026;
  --color-bg-alt: #262640;
  --color-link-dark: #6eb3f7;
  --color-link-light: #0080ff;
  --color-landing-tile-icon-border: #4d4db2;
  --color-landing-playground-border: #4d4db2;
  --color-landing-tile-image-border: #272762;
  --color-landing-stats-fallback-bg: #242442;
  --color-landing-footer-bg: #0f0f3d;
  --color-landing-footer-border: #2e2e78;
  --color-walkthrough-button-bg: #4d4db2;
  --color-walkthrough-button-alt-bg: #474e6b;
  --color-enterprise-table-alt-dark: #1d1e30;
  --color-enterprise-table-alt: #f4f8fb;
  --color-react-1: #f6f7f9;
  --color-react-2: #eaebef;
  --color-react-3: #e3e4e5;
  --color-react-4: #99a1b3;
  --color-react-5: #667084;
  --color-react-6: #444955;
  --color-react-7: #343a46;
  --color-react-8: #23272f;
  --color-kdb: #dbdbf0;
}
